@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <ul>
        <li><a asp-controller="Departments" asp-action="Index">Osakonnad</a></li>
        <li><a asp-controller="Instructors" asp-action="Index">Juhendajad</a></li>
        <li><a asp-controller="Students" asp-action="Index">Õpilased</a></li>
        <li><a asp-controller="Courses" asp-action="Index">Kursused</a></li>
    </ul>
</div>
